h1{
    color:purple;
   text-align: center;
}

form{
   text-align: center;
   background-color: gainsboro;
}

input{
    height: 4em;
    width: 30em;
}

.top{
    position: absolute;
    top: 4px;
}

.buttom{
    position: absolute;
    bottom: 4px;
}